<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--Application-->
    <add key="ApplicationIniFile" value="C:\Users\Public\ImageScan\ImageScan.ini"/>
    <!--<add key="ExportCatalog" value="\\ntfelles.ad.ergogroup.no\felles\Midlertidig\fros\ImageScan\Exported\"/>-->
    <add key="ExportCatalog" value="C:\Users\Public\ImageScan\Exported\"/>
    <add key="TemporaryImageStore" value="C:\Users\Public\ImageScan\Temporary\"/>

    <!--PDF Dokument-->
    <add key="PDF_Margin" value="45"/>                  <!--Legal values: Horizontal or Vertical-->
    <add key="PDF_Format" value="Vertical"/>            <!--Legal values: Horizontal or Vertical-->
    <add key="Image_Format" value="Horizontal"/>        <!--Legal values: Horizontal or Vertical-->
    <add key="MaximizeImageSize" value="true"/>         <!--If this value is true, ReduceImageSizeToPercent is ignored -->
    <add key="ReduceImageSizeToPercent" value="25"/>    <!--Legal values: 1 - 100 (100 = ingen endring) -->

    <add key="MinimumSequenceNumber" value="501"/>
    <add key="MaximumSequenceNumber" value="999"/>

    <!-- FileLogging ScannerLogic -->
    <add key="FileLogging.ScannerLogic.DoLogging" value="true" />
    <add key="FileLogging.ScannerLogic.DoDeleteLogFiles" value="true" />
    <add key="FileLogging.ScannerLogic.LogFilePath" value="C:\Users\Public\ImageScan\Logs\" />
    <add key="FileLogging.ScannerLogic.LogFileName" value="ScannerLogic" />
    <add key="FileLogging.ScannerLogic.LogFileExtension" value="txt" />
    <add key="FileLogging.ScannerLogic.LogFileArchivePath" value="C:\Users\Public\ImageScan\Archive\Logs\" />
    <add key="FileLogging.ScannerLogic.DaysToKeepLogFiles" value="7" />
    <add key="FileLogging.ScannerLogic.DaysToArchiveLogFiles" value="1" />
    <add key="FileLogging.ScannerLogic.SearchPattern" value="ScannerLogic*" />

    <!-- FileLogging -->
    <add key="FileLogging.DocumentCreator.DoLogging" value="true" />
    <add key="FileLogging.DocumentCreator.DoDeleteLogFiles" value="true" />
    <add key="FileLogging.DocumentCreator.LogFilePath" value="C:\Users\Public\ImageScan\Logs\" />
    <add key="FileLogging.DocumentCreator.LogFileName" value="DocumentCreator" />
    <add key="FileLogging.DocumentCreator.LogFileExtension" value="txt" />
    <add key="FileLogging.DocumentCreator.LogFileArchivePath" value="C:\Users\Public\ImageScan\Archive\Logs\" />
    <add key="FileLogging.DocumentCreator.DaysToKeepLogFiles" value="7" />
    <add key="FileLogging.DocumentCreator.DaysToArchiveLogFiles" value="1" />
    <add key="FileLogging.DocumentCreator.SearchPattern" value="DocumentCreator*" />

    <!-- FileLogging -->
    <add key="FileLogging.ImageScanMainForm.DoLogging" value="true" />
    <add key="FileLogging.ImageScanMainForm.DoDeleteLogFiles" value="true" />
    <add key="FileLogging.ImageScanMainForm.LogFilePath" value="C:\Users\Public\ImageScan\Logs\" />
    <add key="FileLogging.ImageScanMainForm.LogFileName" value="ImageScan" />
    <add key="FileLogging.ImageScanMainForm.LogFileExtension" value="txt" />
    <add key="FileLogging.ImageScanMainForm.LogFileArchivePath" value="C:\Users\Public\ImageScan\Archive\Logs\" />
    <add key="FileLogging.ImageScanMainForm.DaysToKeepLogFiles" value="7" />
    <add key="FileLogging.ImageScanMainForm.DaysToArchiveLogFiles" value="1" />
    <add key="FileLogging.ImageScanMainForm.SearchPattern" value="ImageScan*" />

    

  </appSettings>

</configuration>